/*
  Colors
*/

$ucll-primary: #e00049;
$card-background: rgb(255, 255, 255, 0.65);

/*
  Responsiveness
*/

$desktop-width: 750px;

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
