@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
  <div class="home-main-section">
    <div id="welcomeCard" class="home-main-card">
      <div class="home-main-card-column">
        <div>
          <h1 class="home-title">Welcome to VRC-Racing</h1>
          <h2 class="home-sub-title">This is a project made by the last years students of electronics and ICT.</h2>
        </div>
        <span class="flex-spacer"></span>
        <button id="continueBtn" class="home-continue-btn" onclick="OnClickContinueBtn()">Continue</button>
        <p class="home-login-text">To continue as admin <a asp-controller="Admin" asp-action="Index">click here.</a></p>
      </div>
    </div>
    <div id="queue-card" class="queue-card">
      <div class="queue-card-top">
        <h1>The race is ready to begin!</h1>
      </div>
      <div class="queue-card-body">
        <div class="queue-card-body-text">
          <h2>
            Please confirm that you're still here. <br />
            Click the participate button <br />
            within <span id="queue-countdown-seconds"></span> second(s).
          </h2>
        </div>
        <a id="confirm-racer-btn" href="/racer/index" class="queue-participate-btn">Participate</a>
      </div>
    </div>
  </div>
  <div class="home-bottom-section">
    <img class="home-race-preview" src="/images/carPlaceholder.jpeg" alt="Image of the race track">
    <button id="participate-btn" class="home-participate-btn">Participate</button>
    <div class="home-racer-selector">
      <div class="home-racer-selector-text">
        <span>Racer:</span><i class="material-icons home-racer-selector-icon">arrow_drop_down</i>
      </div>
      <div class="home-racer-selector-dropdown">
        <a href="#">Racer 3</a>
        <a href="#">Racer 2</a>
        <a href="#">Racer 1</a>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/lib/microsoft-signalr/signalr.js"></script>
  <script src="~/js/welcome.js" asp-append-version="true"></script>
  <script src="~/js/queue.js" asp-append-version="true"></script>
}

