@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
  <div class="home-main-section">
    <h1 class="display-4">Welcome to VRC</h1>
  </div>
  <div class="home-bottom-section">
    <p>test</p>
  </div>
</div>
