@{
  ViewData["Title"] = "Racer View";
}

<div id="racer-view" class="racer-view-container">
  <img src="http://192.168.2.102:8000/stream.mpg" alt="camera-feed" class="racer-camera-feed" />
  <div class="dashboard-card">
    <h1 class="dashboard-player-label">Player</h1>
    <h1 class="dashboard-player-number">#</h1>
    <h1 class="dashboard-lap-label">Lap</h1>
    <h1 class="dashboard-lap-counter">#/#</h1>
  </div>
  <div class="control-panel">
    <img id="control-panel-up" class="control-panel-up" src="~/Images/ButtonUpDefault.png" alt="Up Button" />
    <img id="control-panel-right" class="control-panel-right" src="~/Images/ButtonRightDefault.png" alt="Right Button" />
    <img id="control-panel-down" class="control-panel-down" src="~/Images/ButtonDownDefault.png" alt="Down Button" />
    <img id="control-panel-left" class="control-panel-left" src="~/Images/ButtonLeftDefault.png" alt="Left Button" />
  </div>
</div>

@section Scripts {
  <script src="~/lib/microsoft-signalr/signalr.js"></script>
  <script src="~/js/racer.js"></script>
}
